<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.connection.url">jdbc:mysql://us-cdbr-east-06.cleardb.net:3306/heroku_424bbdae90361d4</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">bf5093975362c6</property>
		<property name="hibernate.connection.password">76ff5163</property>
		<!-- Show sql -->
		<property name="show_sql">true</property>
		<!-- drop and recreate database -->
		<property name="hbm2ddl.auto">update</property>
	</session-factory>
</hibernate-configuration>
